<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>WebNote</title>
</head>
<body>
    <nav class="nav"> 
        <div class="title">
            Note in your browser :)
        </div>
    </nav>
    <div class="main-app" id="container">

        <div class="left-bar" id="leftBar">
            <button onclick="expandShrinkSwitcher(this)"> Roll up </button>

            <input type="color" id="colorPicker" onchange="setBrushColor(this)">
            <input type="number" onchange="setBrushSize(this)">

        </div>
        <main id="main" class="main">
            <canvas class="canvas" id="canvas">
                
            </canvas>
        </main>
        <div class="right-bar" id="rightBar">
            <button onclick="expandShrinkSwitcher(this)"> Roll up </button>

        </div>
    </div>

    <script src="{{ url_for('static', filename='user-interface.js')}}"></script>

    <script src="{{ url_for('static', filename='main.js')}}"></script>
    <script src="{{ url_for('static', filename='keyboard_handler.js')}}"></script>
    <script src="{{ url_for('static', filename='server_client_handler.js')}}"></script>
</body>
</html>